<% answers[1].each_with_index do | answer, i |
  if i < 2 %>
    <div class="problem_list">
      <div class="userProblem_box">
        <% if answer.is_right %><span class="flag tooltip" title="最佳答案">最佳答案</span><% end %>
        <div class="us_pic"><img src="<%= answer.img_url.nil? ? User::DEFAULT_COVER : answer.img_url %>"/></div>
        <h3><%= answer.user_name %></h3>
        
      </div>
      <div class="answer_box an_bgTrue">
        <span class="an_icon03"></span>
        <p><%= answer.answer %></p>
        <span class="problem_time"><%= answer.created_at.strftime("%Y-%m-%d") %>   <%= answer.created_at.strftime("%H:%M") %></span>
      </div>
      <div class="clear"></div>
    </div>
    <%if answers[1].length > 1 and i == 0 %>
      <div class="problem_list"><h2 class="other_h">其他回答</h2></div>
    <% elsif answers[1].length == 3 and i == 1  %>
      <div class="problem_list">
        <%= link_to "更多答案>>", 
          "/questions/#{answers[0].id}/answered_more?category=#{answers[0].category_id}&current_page=#{answers[2]}",
          :class=> "an_more" %>
      </div>
    <% end %>
  <%end
end if answers[1].any? %>