<%=render '/layouts/nav'%>
<div class="m_content">
  <div class="mc_box">
    <%=render 'menu'%>
    <%if @myanswers.any?%>
      <div class="mc_menu_box">
        <% @myanswers.each_with_index do |aq, index| %>
          <div class="b_bottom">
            <div class="problem_list">
              <div class="problem_box" id="problem_<%= aq.id %>">
                <span class="an_icon01"></span>
                <p><%= aq.title %></p>
                <p><span class="orange">补充：</span><%= aq.description %></p>
              </div>
              <div class="userProblem_box">
                <div class="us_pic"><img src="<%= aq.cover_url.nil? ? User::DEFAULT_COVER : aq.cover_url %>"/></div>
                <h3><%= aq.user_name %></h3>
                <p><%= aq.created_at.strftime("%Y-%m-%d") %></p>
                <p><%= aq.created_at.strftime("%H:%M") %></p>
              </div>
              <div class="clear"></div>
            </div>
            <div id="answer_<%= aq.id %>" <% if index == 0 %>class="load"<% else %>class="none"<% end %>>
              <% if index == 0 %>
                <%= render :partial => "/questions/answers", :object => [aq, @question_answers] %>
              <% end %>
            </div>
          </div>
        <%end%>
        <!--分页插件-->
        <%=will_paginate @myanswers,:previous_label => '上一页', :next_label => '下一页',:class=>'pageTurn'%>
      </div>
    <%else%>
      <span style="font-size:30px;color:red;text-align: center;">你还没有回答过问题!</span>
    <%end%>
  </div>
  <div class="clear"></div>
</div>
