<%=render '/layouts/nav'%>
<input type="hidden" id="current_page" value="ask" />
<div class="m_content">
  <div class="mc_box">
    <%=render 'menu'%>
    <div class="mc_menu_box">
      <%=form_for :user_question, :url=>"/questions/ask_question?category="+params[:category],
        :html => {:onsumbit => "javascript:check_user_question()"} do |f|%>
        <div class="my_question">
          <h2>问题</h2>
          <%=f.text_field :title,:class=>"my_q_input"%>
          <h2>补充</h2>
          <%=f.text_area :description,:class=>"my_q_textarea"%>
          <%=f.submit "我要提问",:class=>"pro_btn",:id=>"askQuestion"%>
        </div>
      <%end%>
      <%if @myasks.any?%>
        <% @myasks.each_with_index do |aq, index| %>
          <div class="b_bottom">
            <div class="problem_list">
              <div class="problem_box" id="problem_<%= aq.id %>">
                <span class="an_icon01"></span>
                <p><%= aq.title %></p>
                <p><span class="orange">补充：</span><%= aq.description %></p>
              </div>
              <div class="userProblem_box">
                <div class="us_pic"><img src="<%= aq.cover_url.nil? ? User::DEFAULT_COVER : aq.cover_url %>"/></div>
                <h3><%= aq.user_name %></h3>
                <p><%= aq.created_at.strftime("%Y-%m-%d") %></p>
                <p><%= aq.created_at.strftime("%H:%M") %></p>
              </div>
              <div class="clear"></div>
            </div>
            <div id="answer_<%= aq.id %>" <% if index == 0 %>class="load"<% else %>class="none"<% end %>>
              <% if index == 0 %>
                <%= render :partial => "/questions/answers", :object => [aq, @question_answers, "ask"] %>
              <% end %>
            </div>
          </div>
        <%end%>
        <%=will_paginate @myasks,:previous_label => '< Prev', :next_label => 'Next >',:class=>'pageTurn'%>
      <%else%>
        <span style="font-size:30px;color:red;text-align: center;">你还没有提问哦!</span>
      <%end%>
    </div>
  </div>
  <div class="clear"></div>
</div>