<%=render 'nav'%>
<div class="m_content">
  <div class="mc_box">
    <%=render 'menu'%>
    <div class="mc_menu_box">
      <%=form_for :user_question,:url=>{ :action => :ask_question} do |f|%>
        <div class="my_question">
          <h2>问题</h2>
          <%=f.text_field :title,:class=>"my_q_input"%>
          <h2>补充</h2>
          <%=f.text_area :description,:class=>"my_q_textarea"%>
          <%=f.submit "我要提问",:class=>"pro_btn",:id=>"askQuestion"%>
        </div>
      <%end%>
      <%@myasks.each do |myask|%>
        <div class="b_bottom">
          <!-- 所有问题 -->
          <div class="problem_list">
            <div class="problem_box">
              <%if myask.question_answers.where("is_right=true").count>0%>
                <span class="in_true tooltip" title="已确认答案">已确认答案</span>
              <%end%>
              <span class="an_icon01"></span>
              <p><%=myask.title%></p>
              <p><span class="orange">补充：</span><%=myask.description%></p>
            </div>
            <div class="userProblem_box">
              <div class="us_pic"><img src="/assets/u01.jpg"/></div>
              <h3><%=myask.user.name%></h3>
              <p><%=myask.created_at.strftime("%Y-%m-%d")%></p>
              <p><%=myask.created_at.strftime("%H:%M")%></p>
            </div>
            <div class="clear"></div>
          </div>
          <!--答案-->

          <%myask.question_answers.where("is_right=true").each do |mqa|%><!--最佳答案-->
            <div class="problem_list">
              <div class="userProblem_box">
                <span class="flag tooltip" title="最佳答案">最佳答案</span>
                <div class="us_pic"><img src="/assets/u01.jpg"/></div>
                <h3><%=mqa.user.name%></h3>
                <p><%=mqa.created_at.strftime("%Y-%m-%d")%></p>
                <p><%=mqa.created_at.strftime("%H:%M")%></p>
              </div>
              <div class="answer_box an_bgTrue">
                <span class="an_icon03"></span>
                <p><%=mqa.answer%></p>
              </div>
              <div class="clear"></div>
            </div>
          <%end%>

          <%if myask.question_answers.where("is_right=true").count>0%>
            <div class="problem_list"><h2 class="other_h">其他答案</h2></div>
          <%end%>

          <%myask.question_answers.where("is_right=false").each do |mqa|%>
            <div class="problem_list">
              <div class="userProblem_box">
                <div class="us_pic"><img src="/assets/u01.jpg"/></div>
                <h3><%=mqa.user.name%></h3>
                <p><%=mqa.created_at.strftime("%Y-%m-%d")%></p>
                <p><%=mqa.created_at.strftime("%H:%M")%></p>
              </div>
              <div class="answer_box an_bgFalse">
                <span class="an_icon02"></span>
                <p><%=mqa.answer%></p>
              </div>
              <div class="clear"></div>
            </div>
          <%end%>
        </div>
      <%end%>


      <%=will_paginate @myasks,:prev_label => '上一页', :next_label => '下一页',:class=>'pageTurn_box'%>
    </div>

  </div>
  <div class="clear"></div>
</div>