<%=render 'nav'%>
<div class="m_content">
  <div class="mc_box">
    <div class="mc_menu">
      <ul>
        <li><%=link_to "已经回答","answered?category="  %></li>
        <li class="hover"><%=link_to "等待回答","unanswered"  %></li>
        <li><%=link_to "我的提问","ask?category="  %></li>
        <li><%=link_to "我的回答","answers?category="  %></li>
      </ul>
      <div class="search">
        <div class="search_box"><input name="" type="text"><button>search</button></div>
      </div>
      <div class="clear"></div>
    </div>
    <div class="mc_menu_box">
      <%@unanswered_questions.each do |uaq|%>
        <div class="b_bottom">
          <div class="problem_list">
            <div class="problem_box">
              <span class="an_icon01"></span>
              <p><%=uaq.title%></p>
              <p><span class="orange">补充：</span><%=uaq.description%></p>
            </div>
            <div class="userProblem_box">
              <div class="us_pic"><img src="/assets/u01.jpg"/></div>
              <h3><%=uaq.user.name%></h3><!--提问的问题的用户名-->
              <p><%=uaq.created_at.strftime("%Y-%m-%d")%></p><!--日期-->
              <p><%=uaq.created_at.strftime("%H:%M")%></p><!--时间-->
            </div>
          </div>
          <div class="clear"></div>

          <div class="problem_list">
            <textarea name="" cols="" rows="" class="pro_textarea"></textarea>
            <button class="pro_btn">我要回答</button>
          </div>
        </div>
      <%end%>
      <%=will_paginate @unanswered_questions,:prev_label => '<<上一页', :next_label => '下一页>>'%>
      <div class="pageTurn_box">
        <a href="#">上一页</a>
        <a href="#" class="current">1</a>
        <a href="#">2</a>
        <a href="#">3</a>
        <a href="#">下一页</a>
      </div>
    </div>
  </div>
  <div class="clear"></div>
</div>