<% if cookies[:user_id] and info %>
  <div  class="login_info bb_radius">
    <div class="info_left">
      <div class="user_pic"><img src="<%= info[:cover_url].nil? ? User::DEFAULT_COVER : info[:cover_url] %>" /></div>
      <p id="name"><%= info[:name] %></p>
      <p id="schoolName"><%= info[:school] %></p>
      <p><% if params[:category] %><span class="s_sun"><%= info[:num] %></span><% end %><a href="javascript:void(0)">获得小太阳</a></p>
    </div>
    <ul class="user_fun">
      <li><a href="javascript:void(0);" class="u_set">设置</a></li>
      <li><a href="/logins/logout" class="u_exit">退出</a></li>
      <li><a href="javascript:void(0);" class="u_bbs">论坛</a></li>
      <li><a href="javascript:void(0);" class="u_subject">科目</a></li>
    </ul>
    <% if params[:category] %>
      <div class="s_sun_mess">
        <p>昨天获得<%= info[:yestoday_suns] %>个太阳</p>
        <p>今天请再接再厉</p>
      </div>
    <% end %>
  </div>
<% else %>
  <%= render :partial=>'layouts/login_tab' %>
  <div class="onlineUsers">在线人数:<span class="orange">10000</span>人</div>
  <script type="text/javascript">
    $(".onlineUsers .orange").html( Math.floor(Math.random()*1000)+1000);
    setInterval(function(){
      $(".onlineUsers .orange").html( Math.floor(Math.random()*1000)+1000);
    }, 3600000);
  </script>
  <div class="clear"></div>
<% end %>