<%=javascript_include_tag 'users'%>
<%
@username=info[:name]
@school=info[:school]
@email=info[:email]
@sun_num=info[:num]
%>
<script type="text/javascript">
  var category=<%=params[:category]%>
</script>
<div  class="login_info bb_radius">
  <div class="info_left">
    <div class="user_pic"><img src="/assets/u01.jpg" /></div>
    <p id="name"><%=@username%></p>
    <p id="schoolName"><%=@school%></p>
    <p><span class="s_sun"><%=@sun_num%></span><a href="#">获得小太阳</a></p>
  </div>
  <ul class="user_fun">
    <li><a href="#" class="u_set">设置</a></li>
    <li><a href="#" class="u_exit">退出</a></li>
    <li><a href="#" class="u_bbs">论坛</a></li>
    <li><a href="#" class="u_subject">科目</a></li>
  </ul>
</div>

