<div class="mc_menu">
  <ul>
    <li onclick="show_blog(<%=Skill::TYPES[:listen]  %>)" <% if nav_types==Skill::TYPES[:listen] %> class="hover" <% end%> >听力技巧</li>
    <li onclick="show_blog(<%= Skill::TYPES[:word] %>)" <% if nav_types==Skill::TYPES[:word] %> class="hover" <% end%>>单词技巧</li>
    <li onclick="show_blog(<%= Skill::TYPES[:read] %>)" <% if nav_types==Skill::TYPES[:read] %> class="hover" <% end%>>阅读技巧</li>
    <li onclick="show_blog(<%= Skill::TYPES[:pronuc] %>)" <% if nav_types==Skill::TYPES[:pronuc] %> class="hover" <% end%>>口语技巧</li>
  </ul>

  <div class="search">
    <div class="search_box">
      <%= form_for :search,:url=>"/skills/search_blog",:html=>{:id=>"search_blog"} do %>
        <input  type="text" name="search_con" value="<%=session[:pras]%>" id="search_con" />
        <input  type="hidden" name="category" value="<%=params[:category]  %>" id="search_con" />
      <% end %>
      <button onclick="search_blog()">search</button></div>
  </div>

  <div class="clear"></div>
</div>