<%= javascript_include_tag "video_skill"  %>
<%= javascript_include_tag "/assets/flowplayer/flowplayer"  %>
<%= render :partial=>"/layouts/nav" %>
<div class="m_content">
  <div class="mc_box">
    <div class="mc_menu">
      <ul>
        <% @sched_vis.each_with_index do |schedule,index| %>
          <li onclick="video_show(<%=  index %>)"><%= @sched_vis[index+1][1] %></li>
        <%end%>
      </ul>
      <div class="clear"></div>
    </div>
    <div class="mc_menu_box">
      <div class="video_area">
        <div class="xz_video">↑<br/>选择讲师<br/>开始学习</div>
      </div>
      <div class="other_video">
        <% @sched_vis.each_with_index do |schedule,index| %>
          <h1 style="display:none"><%= @sched_vis[index+1][1] %>课程包含以下视频</h1>
          <div class="video_more" style="display:none">
            <div class="video_prev" style="visibility: hidden;">上翻</div>
            <div class="video_box">
              <ul class="video_ul">
                <%@sched_vis[index+1][0].each do |video|%>
                <li onclick="load_video('<%= Constant::SERVER_PATH +video.video_url %>')"><img src="<%= video.img_url %>" ><%= video.title %></img></li>
                <% end %>
              </ul>
            </div>
            <div class="video_next"
                 <% if @sched_vis[index+1][0].size<=5 %> style="visibility: hidden;" <% end %> >下翻</div>
          </div>
        <% end %>
      </div>
    </div>
    <script type="text/javascript">
      $( $(".mc_menu li")[0]).trigger("onclick");
    </script>
  </div>


</div>
