<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>赶考</title>
    <%= stylesheet_link_tag  "style" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "jwplayer/jwplayer.js" %>

    <!--[if lt IE 9]>
    <script src="/assets/html5.js"></script>
    <![endif]-->

    <!--[if IE 6]>
    <script src="/assets/DD_belatedPNG_0.0.8a-min.js"></script>
    <script>
      DD_belatedPNG.fix('*');
    </script>
    <![endif]-->

  </head>
  <body>
    <div class="wraper">
      <div class="header">
        <h1 class="logo"><a href="#" title="赶考网"><img src="/assets/logo.png"/></a></h1>
        <%= render :partial=>'users/info', :object=>user_info %>
        <div class="clear"></div>
        
      </div>
    </div>
    <div class="m_index">
      <div class="m_index_box">
        <div class="m_video">
          <a href="#" class="m_video_btn"></a>
          <div id="mediaspace_wrapper" style="position: relative; width: 321px; height: 210px; ">
          </div>
        </div>
        <div class="index_text"><img src="/assets/index_text.png"/></div>
        <div class="index_btn">
          <h1>请进入您要进行备考的频道：</h1>
          <br/>
          <a href="/plans?category=<%= Category::TYPE[:GRADUATE] %>">考研英语频道</a>
          <a href="/plans?category=<%= Category::TYPE[:CET6] %>">六级频道</a>
          <a href="/plans?category=<%= Category::TYPE[:CET4] %>">四级频道</a>
        </div>

      </div>

    </div>
    <div class="footer">
      <p>Copyright © 2011-2012 &nbsp;&nbsp;赶考网www.gankao.co&nbsp;&nbsp;版权所有&nbsp;&nbsp;苏ICP备11024201</p>
    </div>
   <%= render :partial => 'users/details', :object => user_info if cookies[:user_id] and user_info %>

  </body>
</html>
