<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>赶考</title>
    <%= stylesheet_link_tag  "style" %>
    <%= javascript_include_tag "jquery-1.7.2.min" %>
    <%= javascript_include_tag "main" %>
    <!--[if lt IE 9]>
    <%= javascript_include_tag "html5" %>
    <![endif]-->

    <!--[if IE 6]>
    <%= javascript_include_tag "DD_belatedPNG_0.0.8a-min" %>
    <script>
      DD_belatedPNG.fix('*');
    </script>
    <![endif]-->

  </head>

  <body class="body_bg">
    <div class="wraper">
      <div class="header">
        <h1 class="logo"><a href="#">赶考网</a></h1>
        <div class="login_area">
          <ul>
            <li><a href="#" class="renren" onclick ="window.open('/logins/request_renren', '_blank', 'height=500,width=600,left=300,top=100');">人人网<br />帐号登录</a></li>
            <li><a href="#" class="sina" onclick ="window.open('/logins/request_sina', '_blank', 'height=500,width=600,left=300,top=150');">新浪微博<br />帐号登录</a></li>
            <li><a href="#" class="qq" onclick ="window.open('/logins/request_qq', '_blank', 'height=480,width=510,left=300,top=150');">腾讯QQ<br />帐号登录</a></li>
          </ul>
        </div>
        <div class="clear"></div>
        <nav class="border_radius">
          <span class="nav_span">选择科目：</span>
          <ul>
            <li><a href="#">CET-4</a></li>
            <li><a href="#">CET-6</a></li>
            <li><a href="#">考研英语</a></li>
            <li><a href="#">高考英语</a></li>
            <li><a href="#">公务员英语</a></li>
            <li><a href="#">雅思英语</a></li>
            <li><a href="#">托福英语</a></li>
          </ul>
        </nav>
      </div>
      <div class="main">
        <div class="main_bg">
          <div class="m_video"></div>
        </div>
      </div>

    </div>
    <div class="footer">
      <p>Copyright © 2011-2012   赶考网www.gankao.co  版权所有  苏ICP备11024201</p>
    </div>
  </body>
</html>
