<%= render :partial=>"/layouts/nav" %>
<div class="m_content">
  <h1 class="mc_title"></h1>
  <div class="mc_box">
    <% if @similarities.blank? %>
      <div class="mc_menu_box"><h1 class="noAnswer">暂无<%= @category.name %>真题</h1></div>
    <% else %>
      <% @similarities.each do |similarity| %>
        <% if cookies[:user_id] %>
          <div class="plan_list">
            <h1 class="pl_fk"><span class="year"><%= similarity.title %></span></h1>
            <div class="pl_text">
              <% simi=@exam_user_hash[similarity.id] %>
              <a href="/similarities/<%= similarity.id %>/join?category=<%= @category.id %>" target="_blank"
              <% if simi&&simi[false]&&simi[false][1] %>
                   onclick="return already_submit('<%= similarity.id %>','<%= simi[0] %>','<%= simi[2] %>')"
                 <% end %>
                 class="model <% if simi&&simi[false]&&simi[false][1] %>underWay
                 <% elsif simi&&simi[false] %>finish<% end %>">练习模式</a>
              <a  <% if simi&&simi[true]&&simi[true][1] %>
                  href="javascript:void(0);" onclick="javascript:tishi_alert('测试已完成可查看分数！')"
                <% else %>
                  href="/simulations/<%= similarity.id %>/do_exam?category=<%= @category.id %>" target="_blank"
                <% end %> class="model <% if simi&&simi[true]&&simi[true][1] %>underWay
                <% elsif simi&&simi[true] %>finish<% end %>">模考模式</a>
            </div>
          </div>
        <% else %>
          <div class="plan_list">
            <h1 class="pl_fk"><span class="year"><%= similarity.title %></span></h1>
            <div class="pl_text">
              <a href="javascript:void(0);" onclick="javascript:show_charge('#sim_login_tab','.close_tab');"
                 class="model">练习模式</a>
              <a href="javascript:void(0);" onclick="javascript:show_charge('#sim_login_tab','.close_tab');" class="model">模考模式</a>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <div class="clear"></div>
  <%=will_paginate @similarities,:previous_label => '< Prev', :next_label => 'Next >',:class=>'pageTurn'%>
</div>

<div id="already_submit_div" class="tab border_radius" style="display:none;">
  <span class="close" onclick="javascript:$('#already_submit_div').hide();">关闭</span>
  <input type="hidden" id="already_submit_ex_id" value=""></input>
  <input type="hidden" id="already_submit_eu_id" value=""></input>
  <input type="hidden" id="already_submit_sheet_url" value=""></input>
  <div class="exam_tab_text">你已经做完了该份试卷，你是否要重做题目？</div>
  <div class="btn_center_double">
    <button class="b_btn" onclick="javascript:view_paper();">不,只想浏览</button>
    <button class="b_btn" onclick="javascript:redo_paper();">好,我要重做</button>
  </div>
</div>

<script type="text/javascript">
  function already_submit(eu_id,ex_id,sheet_url){
    generate_flash_div("#already_submit_div");
    $("#already_submit_eu_id").val(eu_id);
    $("#already_submit_ex_id").val(ex_id);
    $("#already_submit_sheet_url").val(sheet_url);
    return false;
  }

  function view_paper(){
    var eu_id = $("#already_submit_eu_id").val();
    $("#already_submit_div").hide();
    window.location.href="/similarities/"+eu_id+"/join?category=<%= @category.id %>";
  }

  function redo_paper(){
    var ex_id = $("#already_submit_ex_id").val();
    var sheet_url = $("#already_submit_sheet_url").val();
    sheet_url = "<%= Constant::PUBLIC_PATH %>"+sheet_url;
    $("#already_submit_div").hide();
    window.location.href="/exam_users/"+ex_id+"/redo_paper?category=<%= @category.id %>&sheet_url="+sheet_url+"&type=similarities";
  }
</script>

<div class="tab login_tab" id="sim_login_tab" style="display:none">
  <div class="tab_loginArea">
    <h1>请先登录</h1>
    <%= render :partial=>"/layouts/login_nav" %>
  </div>
</div>