<%
@listen_sentence=listen_write[:listen_sentence]
@web_type=listen_write[:web_type]
@index=listen_write[:index]
%>
<%=javascript_include_tag "jwplayer/jwplayer"%>
<%=javascript_include_tag "listen_write"%>
<input type="hidden" id="global_sentence_en_mean" value="<%= @listen_sentence.en_mean.gsub("\"","").strip%>"></input>
<script type="text/javascript">
  var listen_sentence=$("#global_sentence_en_mean").val();
  var id= "<%=@listen_sentence.id%>";
  var index="<%=@index%>";
  var web_type = "<%= @web_type %>";
  var url="<%=Constant::SERVER_PATH.concat(@listen_sentence.enunciate_url.to_s)%>";
  var count = 1;//答题次数-最大为3
  var answer_mark = false; //记录题目是否做对
  var is_answer=false;
</script>
<div class="plan_tab">
  <div class="pt_title">
    <h1>听力练习</h1>
    <div class="pt_time">无限制&nbsp;&nbsp;</div>
    <span class="t_number"><%=@index+1%>/<%=$ids.length%></span>
    <span class="close">关闭</span>
  </div>
  <div class="mc_box">
    <div class="words_func">
      <h2>听录音，在下面写入你听到的内容。</h2>
      <div id="jquery_jplayer_1" class="jp-jplayer" style="width: 0px; height: 0px; ">
      </div>
      <script type="text/javascript">
        jwplayer("jquery_jplayer_1").setup({
          file: "http://localhost:3000/music.mp3",
          flashplayer: "/assets/jwplayer/player.swf",
          height:0,
          width: 0
        });
      </script>
      <a id="playAudio" href="#" title="播放音频"  class="play_audio tooltip" onclick="jwplayer().stop();jwplayer().play();">播放音频</a>
    </div>
    <div class="words_con">
      <textarea id="ls_answer" name="" cols="" rows="" class="answer_textarea"></textarea>
      <div class="trueFalse"><img src="/assets/true.png" /></div>
    </div>

    <div class="words_func">
      <a id="checkAnswer" href="#"  title="点击核对正确答案" class="hedui tooltip">核对</a>
      <a id="nextQuestion" href="#"   title="下一步"  class="next tooltip">Next</a>
    </div>
  </div>
</div>
