<%= javascript_include_tag "/assets/jquery.ui.core.min.js" %>
<%= javascript_include_tag "/assets/jquery.ui.widget.min.js" %>
<%= javascript_include_tag "/assets/jquery.ui.mouse.min.js" %>
<%= javascript_include_tag "/assets/jquery.ui.draggable.min.js" %>
<%= javascript_include_tag "/assets/jquery.ui.droppable.min.js" %>
<div class="pt_title">
  <h1>翻译练习</h1>
  <div class="pt_time">00:00:00</div>
  <span class="t_number">2/20</span>
  <span class="close" onclick="close_pop()" >关闭</span>
</div>
<div class="mc_box">
  <div class="words_func">
    <h2>把正确的英语拖到中文下面，全部正确后将自动跳转。</h2>
    <a href="#" title="点击重做" class="reset tooltip">重置</a>
  </div>
  <div class="words_con">
    <% sentences=@result[:sentence]%>
    <% unless sentences.nil? %>
      <dl class="drag_dl">
        <% sentences.shuffle.each do |sentence| %>
          <dt><%= sentence.ch_mean%></dt>
          <dd id="<%= sentence.id %>"></dd>
        <% end %>
      </dl>
      <div class="drag_juzi">
        <% sentences.shuffle.each do |sentence| %>
          <p id="<%= sentence.id %>"><%= sentence.en_mean %></p>
        <% end %>
      </div>
    <% end %>
    <input type="hidden" value="" id="correct_ids" />
    <script type="text/javascript">
      $(".drag_dl dd").droppable({
        drop: function( event, ui ) {
          var t_number=$(".t_number").html().split("/");
          $(this).html(ui.draggable.html());
          $(".drag_juzi").find("#"+ui.draggable.attr("id")).css("display","none");
          if ($(this).attr("drag")==null||$(this).attr("drag")==""){
            $(this).attr("drag",ui.draggable.attr("id"));
            $(".t_number").html((parseInt(t_number[0])+1)+"/"+t_number[1])
          }else{
            $(".drag_juzi").find("#"+$(this).attr("drag")).css("display","");
            $(this).attr("drag",ui.draggable.attr("id"));
          }
          if ($(this).attr("drag")==this.id){
            $(this).append('<span class="drag_dl_dui">正确</span>')
          }else{
            $(this).append('<span class="drag_dl_cuo tooltip" onclick="delete_answer('+ $(this).attr("drag")+','+ this.id+')" title="删除重做">错误</span>')
          }
          if ($(".drag_dl_dui").length==$(".drag_dl dd").length){
            load_translate('/learn/jude_translate',count_correct(),"true")
          }
        }
      })
      $(".drag_juzi p").draggable({
        helper: "clone"
      });
      function count_correct(){
        var correct_ids=[];
        for( var i=0;i<$(".drag_dl_dui").length;i++){
          correct_ids.push($($(".drag_dl_dui")[i]).parent().attr("id"))
        }
        return correct_ids.join(",");
      }
      function delete_answer(drag,id){
        var t_number=$(".t_number").html().split("/");
        $(".t_number").html((parseInt(t_number[0])-1)+"/"+t_number[1])
        $(".drag_dl").find("#"+id).attr("drag","");
        $(".drag_dl").find("#"+id).html("");
        $(".drag_juzi").find("#"+drag).css("display","");
      }
      function callback(){
        show_tip("#timeup");
        load_translate('/learn/jude_translate',count_correct(),"true")
      }
      function load_translate(url,correct_ids,redirct){
        window.clearInterval(local_timer);
        $.ajax({
          async:true,
          dataType:'script',
          url:url,
          type:'post',
          data:{
            items : window.items,
            ids : window.ids,
            correct_ids : correct_ids,
            redirct : redirct
          }
        })
      }
    </script>
  </div>
</div>
