<div class="pt_title">
  <h1>单词学习</h1>
  <div class="pt_time">00:00:00</div>
  <span class="t_number"></span>
  <span onclick="close_pop()" class="close">关闭</span>
</div>
<div class="mc_box">
  <%= render :partial => "learn/tip" %>
  <div class="words_func">
    <% if @result[:step] == 1 %>
      <%=javascript_include_tag "jquery.jplayer.min"%>
      <h1><%= @result[:word].name %></h1>
      <span class="fyin">[ <%= @result[:word].phonetic %> ]</span>
      <div id="jquery_jplayer_1" class="jp-jplayer" style="width: 0px; height: 0px; "></div>
      <a id="playAudio" href="javascript:void(0)" title="播放音频" class="play_audio tooltip">播放音频</a>
      <input id="SID" type="hidden" value="<%= @result[:word].ch_mean %>" />
    <% else %>
      <h1><%= @result[:word].ch_mean %></h1>
      <input id="SID" type="hidden" value="<%= @result[:word].name %>" />
    <% end %>
  </div>
  <div class="words_con">
    <ul class="words_ul">
      <% if @result[:step] == 1 %>
        <li id="A"><a href="javascript:void(0);"><%= Word::TYPES[@result[:options][0].types] %><span id="IA"><%= @result[:options][0].ch_mean %></span></a></li>
        <li id="B"><a href="javascript:void(0);"><%= Word::TYPES[@result[:options][1].types] %><span id="IB"><%= @result[:options][1].ch_mean %></span></a></li>
        <li id="C"><a href="javascript:void(0);"><%= Word::TYPES[@result[:options][2].types] %><span id="IC"><%= @result[:options][2].ch_mean %></span></a></li>
        <li id="D"><a href="javascript:void(0);"><%= Word::TYPES[@result[:options][3].types] %><span id="ID"><%= @result[:options][3].ch_mean %></span></a></li>
      <% else %>
        <li id="A"><a href="javascript:void(0);"><span id="IA"><%= @result[:options][0].name %></span></a></li>
        <li id="B"><a href="javascript:void(0);"><span id="IB"><%= @result[:options][1].name %></span></a></li>
        <li id="C"><a href="javascript:void(0);"><span id="IC"><%= @result[:options][2].name %></span></a></li>
        <li id="D"><a href="javascript:void(0);"><span id="ID"><%= @result[:options][3].name %></span></a></li>
      <% end %>
    </ul>
  </div>
  <div class="words_func">
    <a onclick="remember()"  title="我记住了" class="sign tooltip">标记</a>
    <a onclick="jude('/learn/jude_word','false','true')" title="下一题" class="next tooltip">Next</a>
  </div>
</div>
<div class="tip_mask" style="display: none;"></div>
<script type="text/javascript">
  $(document).ready(function(){
    $(".words_ul li").click(function(){
      if($("#SID").attr("value") == $("#I"+this.id).html()){
        clearInterval(myTime.timeId);
        jude("/learn/jude_word","true","true");
      }else{
        clearInterval(myTime.timeId);
        jude("/learn/jude_word","false","true");
      }
    });
<% if @result[:step] == 1 %>
      $(function(){
        $("#jquery_jplayer_1").jPlayer({
          ready: function (event) {
            $(this).jPlayer("setMedia",{
              mp3: "<%= @result[:word].enunciate_url %>"
            }
          );
          },
          swfPath: "../assets/Jplayer.swf",
          supplied: 'mp3',
          vmode:"window",
          solution:"flash, html",
          errorAlerts: false,
          warningAlerts: false
        });

        $("#playAudio").click(function(){
          $("#jquery_jplayer_1").jPlayer("play");
        });
      });
<% end %>
  })

  function callback(){
    show_tip("#timeup");
    jude("/learn/jude_word","false","false");
  }
</script>