<div class="main_Div">
  <% if cookies[:rater_id].to_i==@rater.id %>
    您已经登录，是否<a href="#" onclick="javascript:window.location.href='/exam_raters/<%= @examination.id %>/reader_papers?rater_id=<%= @rater.id %>'">批卷</a>
  <% else %>
    <%= form_for :rater ,:url=>"/exam_raters/#{@rater.id}/rater_login" do %>
      <div class="m_box">
        <h1>尊敬的<%= @rater.name %>老师，你好！请你在阅卷之前输入你的阅卷码，便于我们确认你的身份。</h1>
        <div class="yjuan_con">
          <div class="yjuan_div">阅卷码：<input name="author_code" type="text" /></div>
          <input type="hidden" value="<%= @examination.id %>" id="examination_id" name="examination_id" />
          <div class="yjuan_div yjuan_btn"><button class="t_btn">提交</button></div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>




