<h1 class="mc_title"><%= UserPlan::CHAPTER[:cha1] %>阶段</h1>
<%= javascript_include_tag "base" %>
<%= javascript_include_tag "countdown" %>
<div class="mc_box">
  <% total_time = @plan_list[:word] + @plan_list[:sentence] + (@plan_list[:linsten] * 0.5).to_i
  current_page = (@plan_list[:current]%10 > 0) ? (@plan_list[:current]/10 + 1) : @plan_list[:current]/10
  (1..@plan_list[:cha1_days]).each do |i| %>
    <div class="plan_list" <% if (i > (current_page -1) * 10) and (i < current_page * 10 + 1) %>style="display: block;"
         <% else %>style="display: none;"<% end %>>
      <h1 class="pl_fk pl_m_bg">
        <span class="pl_img">
          <% if @plan_list[:current] > i %>
            <img src="/assets/dui.png"/>
          <% elsif @plan_list[:current] == i %>
            <img id="unlock" style="cursor: pointer;" src="/assets/kai.png"/>
          <% else %>
            <img src="/assets/suo.png"/>
          <% end %>
        </span>任务<%= i %>
      </h1>
      <div class="pl_text">
        <span>单词(<%= @plan_list[:word] %>)&nbsp;&nbsp;&nbsp;
          句子(<%= @plan_list[:sentence] %>)<br/>听力(<%= @plan_list[:linsten] %>)</span>
        <p>估计耗时：<%= total_time %>分钟</p>
      </div>
    </div>
  <% end %>
</div>
<div class="clear"></div>
<div class="pn_btn">  
  <button onclick="javascript:pre_page(<%= @user_plan.id %>, 1);" <% if current_page == 1 %>style="display: none;"<% end %>>上一页</button>
  <button onclick="javascript:next_page(<%= @user_plan.id %>, 1);">下一页</button>
</div>
