<h1 class="mc_title"><%= UserPlan::CHAPTER[:cha1] %>阶段</h1>
<%= javascript_include_tag "base" %>
<%= javascript_include_tag "countdown" %>
<div class="mc_box">
  <%
  if @user_plan.category_id == Category::TYPE[:GRADUATE]
    total_time = @plan_list[:word] + @plan_list[:sentence]
  else
    total_time = @plan_list[:word] + @plan_list[:sentence] + (@plan_list[:linsten] * 0.5).to_i
  end
  current_page = (@plan_list[:current]%10 > 0) ? (@plan_list[:current]/10 + 1) : @plan_list[:current]/10
  (1..@plan_list[:cha1_days]).each do |i| %>
    <div class="plan_list" <% if (i > (current_page -1) * 10) and (i < current_page * 10 + 1) %>style="display: block;"
         <% else %>style="display: none;"<% end %>>
         <% class_name = @plan_list[:current] > i ? "pl_m_bg" : (@plan_list[:current] == i ? "pl_l_bg" : "pl_d_bg") %>
      <h1 class="pl_fk <%= class_name %>" id="<%= i %>" <%if @plan_list[:current] == i%> onclick="start_practice('<%= @user_plan.category_id %>')"<% end %>>
        <span class="pl_img">
          <% if @plan_list[:current] > i %>
            <img src="/assets/dui.png"/>
          <% elsif @plan_list[:current] == i %>
            <img src="/assets/kai.png"/>
          <% else %>
            <img src="/assets/suo.png"/>
          <% end %>
        </span>任务<%= i %>
      </h1>
      <div class="pl_text">
        <% if @user_plan.category_id == Category::TYPE[:GRADUATE] %>
          <span>单词(<%= @plan_list[:word] %>)&nbsp;&nbsp;&nbsp;
            句子(<%= @plan_list[:sentence] %>)<br/>&nbsp;</span>
        <% else %>
          <span>单词(<%= @plan_list[:word] %>)&nbsp;&nbsp;&nbsp;
            句子(<%= @plan_list[:sentence] %>)<br/>听力(<%= @plan_list[:linsten] %>)</span>
        <% end %>
        <p>估计耗时：<%= total_time %>分钟</p>
      </div>
    </div>
  <% end %>
</div>
<div class="clear"></div>
<div class="pn_btn">  
  <button onclick="javascript:pre_page(<%= @user_plan.id %>, 1);" <% if current_page == 1 %>style="display: none;"<% end %>>上一页</button>
  <button onclick="javascript:next_page(<%= @user_plan.id %>, 1);">下一页</button>
</div>
