<%= javascript_include_tag "plan" %>
<%= javascript_include_tag "cookie" %>
<%= render :partial => "/layouts/nav" %>
<div class="m_content">
  <% if @plan_list %>
    <% if @plan_list[:current] <= @plan_list[:cha1_days] %>
      <%= render :partial => "base_practice" %>
    <% elsif @plan_list[:current] <= @plan_list[:cha1_days] + @plan_list[:cha2_days] %>
      <%= render :partial => "colligation_practice" %>
    <% else %>
      <%= render :partial => "sprint_practice" %>
    <% end %>
  <% else %>
    <div class="mc_box">
      <div class="noTest">
        <div class="r_text">
          <h1>为什么要前测？</h1>
          <p>为了帮助你更好的安排复习，我们会生成一份完全
            个性化的复习方案，了解你当前的水平是最基础的步骤，
            前测可以帮助我们了解你的水平 ，所以在前测时请不
            要参考书本、网络或是请教别人。
          </p>
        </div>
        <div class="btn_div">
          <a href="javascript:void(0);" onclick="javascript:show_kaoyan_frame();" class="noTest_btn">开始前测</a>
        </div>
      </div>
    </div>
    <% if cookies[:first_login] == "1" %>
      <%= render :partial=>'/common/gide_tab' %>
    <% end
    cookies.delete(:first_login)
  %>
  <% end %>
</div>
<div class="plan_tab"></div>
<%= render :partial=>'/plans/start_tab' %>