<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>赶考</title>
    <%= javascript_include_tag "application" %>
    <%= stylesheet_link_tag    "style" %>
    <%= stylesheet_link_tag    "public" %>
    <!--[if lt IE 9]>
    <script src="/assets/html5.js"></script>
    <![endif]-->

    <!--[if IE 6]>
    <script src="/assets/DD_belatedPNG_0.0.8a-min.js"></script>
    <script>
      DD_belatedPNG.fix('*');
    </script>
    <![endif]-->
  </head>
  <body>
    <div class="wraper">
      <div class="header">
        <h1 class="logo">
          <a href="/" title="赶考网">
            <% if params[:category].to_i == Category::TYPE[:CET4] %>
              <img src="/assets/logo_cet4.png"/>
            <% elsif params[:category].to_i == Category::TYPE[:CET6] %>
              <img src="/assets/logo_cet6.png"/>
            <% else %>
              <img src="/assets/logo_graduate.png"/>
            <% end %>
          </a>
        </h1>
<<<<<<< HEAD
        <%=render :partial=>'users/info', :object=>user_info %>
        <div class="onlineUsers">在线人数:<span class="orange">10000</span>人</div>
        <div class="clear"></div>
        <script type="text/javascript">
          $(".onlineUsers .orange").html( Math.floor(Math.random()*1000)+2000);
          setInterval(function(){
            $(".onlineUsers .orange").html( Math.floor(Math.random()*1000)+2000);
          }, 3600000);
        </script>
=======
        <%= render :partial=>'users/info', :object=>user_info %>
>>>>>>> b6bfcd64e84ca63087e0347b62aea2feeaa33d78
        <div class="clear"></div>        
        <nav class="border_radius">
          <% if cookies[:user_id] and is_nomal?(params[:category]) %>
            <span class="v_message">立刻升级为高级用户，即刻享有复习效果保障服务。
              <a href="javascript:void(0);" onclick="show_charge('.payment','.pay_close')">了解更多</a></span>
          <% end %>
        </nav>
      </div>
      <div class="main">
        <div class="left">
          <div class="countDown">
            <p>距考研还有：</p>
            <h1><%= from_kaoyan %><span>天</span></h1>
          </div>
          <div class="checkIn_box">
            <div class="checkIn_img"><a onclick="checkIn(<%= params[:category] %>)" href="javascript:void(0);"><img src="/assets/checkIn.png" /></a></div>
            <span class="checkIn_sun"><img src="/assets/sun.png" /></span>
            <p><% if cookies[:user_id] and user_info %>
                *你已经连续签到<span id="checkIn_days"><%= signin_days(User.find(cookies[:user_id]),params[:category]) %></span>天
              <% else %>
                *每天签到奖励1个小太阳
              <% end %>
            </p>
          </div>
          <div class="clear"></div>
          <div class="path_box">
            <%= render :partial => '/layouts/score_line' %>
          </div>
        </div>
        <div class="middle">
          <% if @user_score_info.nil? %>
            <div class="recommend">你还没有进行前测，无法为你生成个性化复习方案，赶快进行
              <a href="javascript:void(0)" onclick="javascript:show_kaoyan_frame();">前测</a>吧！
            </div>
          <% end %>
          <%= yield %>
        </div>
        <div class="right">
          <div class="right_fx_box">
            <p class="right_fx_p">推荐好友获取小太阳:</p>
            <div class="right_fx">
             <a class="fx_qq tooltip" href="javascript:void(0);" onclick ="window.open('/users/share?web=qq&category=<%= params[:category] %>', '_blank', 'height=480,width=510,left=300,top=150');" title="分享到腾讯微博">腾讯微博</a>
              <a href="javascript:void(0);" onclick="window.open('/users/share?web=renren&category=<%= params[:category] %>', '_blank', 'height=500,width=600,left=300,top=100');" class="fx_rr tooltip" title="分享到人人网">人人网</a>
              <a href="javascript:void(0);" onclick="window.open('/users/share?web=sina&category=<%= params[:category] %>', '_blank', 'height=500,width=600,left=300,top=150');" class="fx_sina tooltip" title="分享到新浪微博">新浪微博</a>
            </div>
          </div>
          <div class="right_ad">广告</div>
        </div>
        <div class="clear"></div>
      </div>

    </div>
    <div class="footer">
      <p>Copyright © 2011-2012   赶考网www.gankao.co  版权所有  苏ICP备11024201</p>
    </div>
    <%= render :partial => 'users/details', :object => user_info if cookies[:user_id] and user_info %>
    <div class="mask" style="display: none;"></div>
    <%= render :partial => '/users/charge_vip' %>
    <% unless @plan_list %><%= render :partial => '/layouts/inside_test' %><% end %>

    <%if params[:category].to_i==Category::TYPE[:GRADUATE] and user_info[:login_times].to_i==4%>
      <%=render :partial=>'users/focus' %>
    <%end%>
  </body>
</html>
