<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>赶考</title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= stylesheet_link_tag    "style" %>
    <%= stylesheet_link_tag    "public" %>
    <%= javascript_include_tag "jquery-1.7.2.min" %>
    <%= javascript_include_tag "main" %>
    <!--[if lt IE 9]>
    <script src="/assets/html5.js"></script>
    <![endif]-->

    <!--[if IE 6]>
    <script src="/assets/DD_belatedPNG_0.0.8a-min.js"></script>
    <script>
      DD_belatedPNG.fix('*');
    </script>
    <![endif]-->

  </head>
  <body>
    <div class="wraper">
      <div class="header">
        <h1 class="logo"><a href="#">赶考网</a></h1>
        <%=render :partial=>'users/info',:object=>user_info%>
        <div class="clear"></div>
        <nav class="border_radius">
          <span class="v_message">立刻升级为高级用户，即刻享有复习效果保障服务。<a href="#">了解更多</a></span>
        </nav>
      </div>
      <div class="main">
        <div class="left">
          <div class="checkIn_box">
            <div class="checkIn_img"><a onclick="checkIn()" href="#"><img src="/assets/checkIn.png" /></a></div>
            <span class="checkIn_sun"><img src="/assets/sun.png" /></span>
            <p>*每天签到奖励1个小太阳</p>
          </div>
          <div class="path_box"><img src="/assets/path.jpg" /></div>
        </div>
        <div class="middle">
          <%= yield %> <!-- 用class为 m_content 的 div片段 填充 -->
        </div>

        <div class="right">广告</div>
        <div class="clear"></div>
      </div>

    </div>
    <div class="footer">
      <p>Copyright © 2011-2012   赶考网www.gankao.co  版权所有  苏ICP备11024201</p>
    </div>

   <%=render :partial=>'users/details',:object=>user_info%>
  </body>
</html>
