<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>赶考</title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= stylesheet_link_tag    "style" %>
    <%= stylesheet_link_tag    "public" %>
    <%= javascript_include_tag "jquery-1.7.2.min" %>
    <%= javascript_include_tag "main" %>
    <!--[if lt IE 9]>
    <script src="/assets/html5.js"></script>
    <![endif]-->

    <!--[if IE 6]>
    <script src="/assets/DD_belatedPNG_0.0.8a-min.js"></script>
    <script>
      DD_belatedPNG.fix('*');
    </script>
    <![endif]-->
  </head>
  <body>
    <div class="wraper">
      <div class="header">
        <h1 class="logo">
          <a href="/" title="赶考网">
            <% if params[:category].to_i == Category::TYPE[:CET4] %>
              <img src="/assets/logo_cet4.png"/>
            <% elsif params[:category].to_i == Category::TYPE[:CET6] %>
              <img src="/assets/logo_cet6.png"/>
            <% else %>
              <img src="/assets/logo_graduate.png"/>
            <% end %>
          </a>
        </h1>
        <%=render :partial=>'users/info', :object=>user_info %>
        <div class="clear"></div>
        <% if cookies[:user_id] and is_nomal?(params[:category]) %>
          <nav class="border_radius">
            <span class="v_message">立刻升级为高级用户，即刻享有复习效果保障服务。
              <a href="javascript:void(0);" onclick="show_charge('.payment','.pay_close')">了解更多</a></span>
          </nav>
        <% end %>
      </div>
      <div class="main">
        <div class="left">
          <div class="countDown">
            <p>距考研还有：</p>
            <h1>22<span>天</span></h1>
          </div>
          <div class="checkIn_box">
            <div class="checkIn_img"><a onclick="checkIn()" href="javascript:void(0);"><img src="/assets/checkIn.png" /></a></div>
            <span class="checkIn_sun"><img src="/assets/sun.png" /></span>
            <p>*你已经连续签到<span id="checkIn_days"><%=user_info[:signin_days]%></span>天</p>
          </div>
          <div class="path_box"><img src="/assets/path.jpg" /></div>
        </div>
        <div class="middle">
          <% if @user_score_info.nil? %>
            <div class="recommend">你还没有进行前测，无法为你生成个性化复习方案，赶快进行<a href="#">前测</a>吧！</div>
          <% end %>
          <%= yield %> <!-- 用class为 m_content 的 div片段 填充 -->
        </div>
        <div><a href="#" onclick="window.open('/users/share?web=renren&category='+category, '_blank', 'height=500,width=600,left=300,top=100');">分享到人人 </a>
          <a href="#" onclick="window.open('/users/share?web=sina&category='+category, '_blank', 'height=500,width=600,left=300,top=150');">分享微博</a></div>
        <div class="right">广告</div>
        <div class="clear"></div>
      </div>

    </div>
    <div class="footer">
      <p>Copyright © 2011-2012   赶考网www.gankao.co  版权所有  苏ICP备11024201</p>
    </div>
    <%=render :partial=>'users/details',:object=>user_info%>
    <div class="mask"></div>
    <%=render :partial=>'/users/charge_vip'%>
  </body>

</html>
