<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>赶考</title>
    <%= javascript_include_tag "application" %>
    <%= stylesheet_link_tag    "style" %>
    <%= stylesheet_link_tag    "public" %>
    <!--[if lt IE 9]>
    <script src="/assets/html5.js"></script>
    <![endif]-->

    <!--[if IE 6]>
    <script src="/assets/DD_belatedPNG_0.0.8a-min.js"></script>
    <script>
      DD_belatedPNG.fix('*');
    </script>
    <![endif]-->
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-26018499-1']);
      _gaq.push(['_setDomainName', 'gankao.co']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </head>
  <body>
    <div class="wraper">
      <div class="header">
        <h1 class="logo">
          <a href="/" title="赶考网">
            <% if params[:category].to_i == Category::TYPE[:CET4] %>
              <img src="/assets/logo_cet4.png"/>
            <% elsif params[:category].to_i == Category::TYPE[:CET6] %>
              <img src="/assets/logo_cet6.png"/>
            <% else %>
              <img src="/assets/logo_graduate.png"/>
            <% end %>
          </a>
        </h1>
        <%=render :partial=>'users/info', :object=>user_info %>
        <div class="clear"></div>
        <nav class="border_radius">
          <div class="scrollAD">
            <% if cookies[:user_id].nil? %>
              <span>亲，为了达到更好的复习效果，建议您首先为自己定制复习计划。
                <a href="javascript:void(0);" onclick="javascript:show_kaoyan_frame();">定制复习计划</a>
              </span>
            <% elsif cookies[:user_id] and is_nomal?(params[:category]) %>
              <span>立刻升级为高级用户，即刻享有 <strong><%= Constant::SCOLL_WORD[params[:category].to_i] %></strong> 复习效果保障服务。
                <a href="javascript:void(0);" onclick="show_charge('#payment_vip','.pay_close')">了解更多</a></span>
            <% end %>
            <span>赶考网包括真题、精解、技巧、视频、问答在内的功能完全开放免费，没有任何使用限制</span>
            <span><%= Constant::TAOBAO_URL[params[:category].to_i][0] %><a href="<%= Constant::TAOBAO_URL[params[:category].to_i][1] %>" target="_blank">了解更多</a></span>
          </div>
        </nav>
      </div>
      <div class="main">
        <div class="left">
          <div class="countDown">
            <p>距<%= from_kaoyan(params[:category])[0] %>还有：</p>
            <h1><%= from_kaoyan(params[:category])[1] %><span>天</span></h1>
          </div>
          <div class="checkIn_box">
            <div class="checkIn_img"><a onclick="checkIn(<%= params[:category] %>)" href="javascript:void(0);"><img src="/assets/checkIn.png" /></a></div>
            <div class="checkIn_sun"><span class="addOne"><img src="/assets/1.png"/></span></div>
            <p><% if cookies[:user_id] and user_info %>
                *你已经连续签到<span id="checkIn_days"><%= signin_days(user_info[:signin_days],params[:category]) %></span>天
              <% else %>
                *每天签到奖励1个小太阳
              <% end %>
            </p>
          </div>
          <div class="clear"></div>
          <div class="path_box">
            <%= render :partial => '/layouts/score_line' %>
          </div>
        </div>
        <div class="middle">
          <% if cookies[:user_id] and !is_has_plan? %>
            <div class="recommend">你还没有进行前测，无法为你生成个性化复习方案，赶快进行
              <a href="javascript:void(0)" onclick="javascript:show_kaoyan_frame();">前测</a>吧！
            </div>
          <% end %>
          <%= yield %>
        </div>
        <div class="right">
          <div class="qrcode">
            <div><img src="/assets/qrcode.png" /></div>
          </div>
          <div class="right_fx_box">
            <div class="right_fx">
              <a class="fx_qq tooltip" href="javascript:void(0);" onclick ="window.open('/users/share?web=qq&category=<%= params[:category] %>', '_blank', 'height=480,width=510,left=300,top=150');" title="分享到腾讯微博">腾讯微博</a>
              <a href="javascript:void(0);" onclick="window.open('/users/share?web=renren&category=<%= params[:category] %>', '_blank', 'height=500,width=600,left=300,top=100');" class="fx_rr tooltip" title="分享到人人网">人人网</a>
              <a href="javascript:void(0);" onclick="window.open('/users/share?web=sina&category=<%= params[:category] %>', '_blank', 'height=500,width=600,left=300,top=150');" class="fx_sina tooltip" title="分享到新浪微博">新浪微博</a>
            </div>
            <p class="right_fx_p">推荐好友获取小太阳</p>
          </div>          
          <div class="right_ad">
            <%= render :partial => '/common/right_ad' %>
          </div>         
        </div>
        <div class="clear"></div>
      </div>
    </div>
    <div class="footer">
      <p>Copyright © 2011-2012   赶考网www.gankao.co  版权所有  苏ICP备11024201</p>
    </div>
    <%= render :partial => 'users/details', :object => user_info if cookies[:user_id] and user_info %>
    <div class="mask" style="display: none;"></div>
    <div class="guideMask" style="display: none;"></div>
    <% if cookies[:user_id] and is_nomal?(params[:category]) %>
      <%= render :partial => '/users/charge_vip' %>
      <%= render :partial => '/users/charge_sun' %>
    <% end %>
    <%= render :partial => '/layouts/inside_test' unless @plan_list %>
    <%= render :partial=>'users/focus' if show_focus %>
    <% if flash[:share_notice] %>
      <script type="text/javascript">
        tishi_alert('<%= flash[:share_notice] %>')
      </script>
    <% end %>
    <%= render :partial => '/common/qq_online' %>
  </body>
</html>
