<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" manifest="/assets/local_save/answer.manifest">
  <head>
    <title><%= @title.nil? ? "大学英语四级模拟考试" : @title %></title>
    <%= stylesheet_link_tag    "mokao" %>
    <%= stylesheet_link_tag    "public" %>
    <%= stylesheet_link_tag    "jplayer.blue.monday" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "mokao" %>
    <%= javascript_include_tag 'cookie' %>
    <%= javascript_include_tag 'jshashtable-2.1' %>
    <%= javascript_include_tag "/assets/jplayer/jquery.jplayer.min.js" %>
    <%= javascript_include_tag 'jquery.ui.core.min.js' %>
    <%= javascript_include_tag 'jquery.ui.widget.min.js' %>
    <%= javascript_include_tag 'jquery.ui.mouse.min.js' %>
    <%= javascript_include_tag 'jquery.ui.droppable.min.js' %>
    <%= javascript_include_tag 'jquery.ui.draggable.min.js' %>
    <script language="javascript" type="text/javascript">
      var papers = new Object();
    </script>
    <!--[if IE 6]>
    <script src="/assets/DD_belatedPNG_0.0.8a-min.js"></script>
    <script>
      /* EXAMPLE */
      DD_belatedPNG.fix('*');

      /* string argument can be any CSS selector */
      /* .png_bg example is unnecessary */
      /* change it to what suits you! */
    </script>
    <![endif]-->
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-26018499-1']);
      _gaq.push(['_setDomainName', 'gankao.co']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </head>

  <body>
    <%= render :partial => "/common/flash_div"  %>
    <div class="wrap">
      <%= yield %>
    </div>    
  </body>
</html>
